body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 30px;
    margin: 0px;
}

.orange-color{
    color: orangered;
}
.white-color{
    color: white;
}

.flexible-container{
    display: flex;
    margin-bottom: 80px;
}
.half-width{
    width: 40%;
}
.half-width image{
    width: 40%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 115, 0),tomato);
    padding: 10px 20px;
    color: white;
    font-weight: 700;
    border-radius: 2px;
}
.intro{
    margin-top: 20%;
    margin-left: 5%;
}
.about-me{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;

}
.about{
    margin-left: 10%;
    text-align: justify;
}
.my-recipies {
    text-align: center;
    height:20%;
}
.red-color{
    color: red;
}
.recipies{
    width: 33%;
   text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 2px  grey;
    border-color: white;
}
.recipies img{
    width:100% ;
    padding-top:10px;
   object-fit:contain;
}
.box {
    display: flex;
    width: 100%;
    height:auto;
}
.social{
    width: 90%;
    display: flex;
    margin:  auto;
    margin-bottom: 80px;
    box-shadow: 2px 2px 2px 2px  grey;
    border-color: white;
}
.followers{
   padding-left: 15%;
   padding-top: 5px;
   padding-bottom: 5px;
}
.followers h1{
    font-size: 60px;
}
   
footer {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.952);
    height: 200px;
    padding-top: 2%;
}

